---
import Section from "../Section.astro"
import { getCVData } from "@cv"

const cvData = await getCVData()
const { summary } = cvData.basics
---

<Section title="Sobre mí">
  <p>
    {summary}
  </p>
</Section>
