---
import Layout from "../layouts/Layout.astro";

import { EducationSection, ExperienceSection, SkillsSection } from "@sections/index";
import { ScrollToTopButton, FloatingButtons } from "@buttons/index";
import About from "@sections/About.astro";
import Hero from "@sections/Hero.astro";

import { getCVData } from "../utils/cv";
import "../styles/global.css";

const cvData = await getCVData();
const { name, label } = cvData.basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <ExperienceSection />
    <EducationSection />
    <SkillsSection />
  </main>

  <FloatingButtons />
  <ScrollToTopButton />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 1.5rem;
    }
  }
</style>
