---
import Layout from "../layouts/Layout.astro"

import About from "../components/sections/About.astro"
import Education from "../components/sections/Education.astro"
import ExperienceSection from "../components/sections/ExperienceSection.astro"
import Hero from "../components/sections/Hero.astro"
import Projects from "../components/sections/Projects.astro"
import Skills from "../components/sections/Skills.astro"
import FloatingButtons from "../components/FloatingButtons.astro"
import ScrollToTop from "../components/ScrollToTop.astro"

import { getCVData } from "../utils/cv"
import "../styles/global.css"

const cvData = await getCVData()
const { name, label } = cvData.basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <ExperienceSection />
    <Education />
    <Projects />
    <Skills />
  </main>

  <FloatingButtons />
  <ScrollToTop />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 1.5rem;
    }
  }
</style>
